@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Nanum+Myeongjo:wght@700;800&family=Noto+Sans+Display:ital,wght@0,300;0,500;1,600;1,900&family=Xanh+Mono:ital@1&display=swap');

body{
    background: url(./digital\ art\ wallpaperflare\ \(42\).jpg)no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: auto;
    position: relative;
    min-height: 95vh;/*fill the screen whatever 
    size maybe*/
    min-width: 95vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;/*flex direction is columnwise*/
}

/* working on the header section */
header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo{
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

header nav a{
    color: rgb(239, 243, 237);
    text-decoration: none ;
    font-weight: 500;
    font-size: larger;
    letter-spacing: 1px;
    padding: 6px 15px;
    border-radius: 10px;
    transition: 0.5s;
    transition-property: background;
}

header nav a:not(:last-child){
    margin-right: 20px;
}

header nav a:hover{
    background: rgb(3, 95, 64);
}

.content{
    max-width: 650px;
    margin: 60px 100px;
}

.content .info h2{
    color: rgb(4, 44, 42);
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
    backdrop-filter: blur(10px) saturate(90%);
}

.content .info h2 span{
    color: rgb(155, 69, 12);
    font-size: 50px;
    font-weight: 600;
}

.content .info p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
    color: rgb(1, 19, 19);
    backdrop-filter: blur(10px) saturate(50%);

}

.content .info details summary{
    color: rgb(75, 4, 122);
    background-color: rgb(20, 221, 178);
    /* display: inline-block; */
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

.content .info details summary:hover{
    background: rgb(78, 103, 247);
}

.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.media-icons a{
    position: relative;
    color: rgb(255, 238, 4);
    font-size: 30px;
    transition: 0.3s;
    transition-property: transform;
}

.media-icons a:not(:last-child){
    margin-right: 60px;
}

.media-icons a:hover{
    transform: scale(2.5);
}

label{
    display: none;
}

#check{
    z-index: 3;
    display: none;
}

/* responsive styles */
@media (max-width: 960px){
    header nav{
        display: none;
    }

    label{
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
    }

    label:hover{
        color: rgb(216, 97, 97);
    }

    label .close-btn{
        display: none;
    }

    #check:checked ~ header nav{
        z-index: 2;
        position: fixed;
        background: rgba(127, 83, 247, 0.9);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #check:checked ~ header nav a{
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }
    #check:checked ~ header label .close-btn{
        z-index: 2;
        display: block;
        position: fixed;
    }

    label .menu-btn{
        position: absolute;
    }

    header .logo{
        position: absolute;
        bottom: -10px;
    }

    .content .info h2{
        font-size: 45px;
        line-height: 50px;
    }
    .content .info h2 span{
        font-size: 40px;
        font-weight: 600;
    }

    .content .info p{
        font-size: 14px;
    }
}


@media (max-width: 560px){
    .content .info h2{
        font-size: 35px;
        line-height: 40px;
    }
    .content .info h2 span{
        font-size: 30px;
        font-weight: 600;
    }

    .content .info p{
        font-size: 14px;
    }
}